body {
    font-family: 'Roboto', sans-serif;
    /* this part is taken from a post by user name m.spyratos to make the footer stick to the bottom: 
    https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b  
    */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.align-center {
    text-align: center;
}

.light-blue {
    background-color: #039be5;
    color: #ffffff;
}

.light-blue-bg {
   background-color: #039be5;
}

.light-orange-bg {
    background-color: #ffb74d ;
}

.top-mg-100 {
    margin-top: 100px;
}

.top-mg-20 {
    margin-top: 20px;
}

.logo-wrapper {
    border-radius: 5px;
    background-color: #f4511e;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px gray;
}

.custom-h2, .custom-h4, .custom-h3 {
    text-align: center;
    letter-spacing: 1px;
}

.custom-h2 {
    font-weight: 600;
    text-shadow: 1px 0px 0px #9e9e9e;
    color: #ffffff;
    margin-top: 20px;
}

.custom-h3 {
    margin-top: 100px;
}

.custom-h4 {
    margin: 20px;
    text-transform: uppercase;
    color: #0d47a1;
    font-weight: 600;
    text-shadow: 0.5px 0.5px;
}

.register-btn, .login-btn {
    margin: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    box-shadow: 0.5 0.5 0.5;
    background-color: #f4511e;
}

.margin-btm-20 {
    margin-bottom: 20px;
}

.redirect-link {
    color: #0d47a1;
    font-weight: 600;
}

.base-modal {
    display: none;
    border: none;
    position: absolute;
    box-shadow: 1px 1px 1px #808080;
    z-index: 100;
    background-color: #90a4ae;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    top: 400px;
    left: 20%;
}

.input-field, .search-field {
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-field {
    width: 90%;
    border: none;
}

.search-field {
    margin: 0 auto;
    padding: 0;
    width: 60%;
    border: 0.5px solid #000000;
}

.button:focus {
   outline: none;
}


/*Main*/
main {
    background-color: #eceff1;
    position: relative;
     /* this part is also taken from the same post as the mentioned in the body*/
    flex: 1;
}

/*Header*/
.regnav-button, .loginnav-button {
    background-color: #0d47a1;
    border: none;
    color: whitesmoke;
    text-align: left;
}

.navbar {
    background-color: #0d47a1;
}

.nav-link:focus {
    outline: none;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
}

.navbar-light .navbar-brand {
    color: #f4511e;
}

.navbar-light .navbar-toggler {
    color: whitesmoke;
    border-color: whitesmoke;
}

/*Footer*/
.main-footer {
    background-color: #0d47a1;
    width: 100%;
    text-align: center;
}

.footer-icon {
    color: whitesmoke;
    margin: 20px;
    font-size: 200%;
}

/*Index main*/
.carousel-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    padding-bottom: 80px;
}

.carousel-img {
    width: 100%;
    height: 700px;
    border-radius: 5px;
}

.background-img {
    background: url("../images/cinema.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    margin-bottom: 20px;
}

.login-link, .register-link {
    font-weight: 500;
    text-decoration: underline;
}

.login-link {
    float: left;
}

.register-link {
    float: right;
}

.film-icon {
    font-size: 300%;
    color: #ffffff;
    text-align: center;
}

.card {
    box-shadow: 1px 1px 1px black;
}

/*Findmvoies main*/
.search-button {
    width: fit-content;
    border: none;
}

.thumbnail {
    height: 100px;
    width: 60px;
    margin-left: 10px;
    margin-right: 60px;
}

.description-item {
    margin: 30px;
}

.search-result {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.search-result:hover {
    color: #ffffff;
}

.poster-image {
    width: 300px;
    height: 400px;
}