{% extends "base.html" %}
{% block title %}
Add Movie
{% endblock %}
{% block maincontent %}
<!--row,col and offset classes from Boostrap-->
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 manage-movie-form">
        <form class="row" method="POST" action="{{ url_for('add_movie') }}">
            <div class="col-12">
                <h4 class="custom-h4">Add Movie</h4>
            </div>
            <div class="col-12"><label for="title">Title</label></div>
            <div class="col-12"><input class="input-field" id="title" name="title" maxlength="20" type="text"
                    required><br>
                <p class="input-help-text">Title of the movie, maximum of 20 characters</p>
            </div>
            <div class="col-12"><label for="year">Year</label></div>
            <div class="col-12"><input class="input-field" id="year" name="year" type="number" min="1900"
                    max="{{ this_year }}" required><br>
                <p class="input-help-text">Enter the release year, between 1900 and now.</p>
            </div>
            <div class="col-12"><label for="directors">Directors</label></div>
            <div class="col-12"><input class="input-field" id="directors" maxlength="150"
                    pattern="[A-Z-a-z]{1,20}\s[A-Z-a-z]{1,20}[,]?\s?([A-Z-a-z]{1,20}\s[A-Z-a-z]{1,20})?"
                    name="directors" type="text" required><br>
                <p class="input-help-text">Write the first and last name, if more than one director separate them by
                    comma. No more than two directors allowed.</p>
            </div>
            <div class="col-12"><label for="cast">Main Cast</label></div>
            <div class="col-12"><input class="input-field"
                    pattern="[A-Z-a-z]{1,20}\s[A-Z-a-z]{1,20}[,]?\s?([A-Z-a-z]{1,20}\s[A-Z-a-z]{1,20})?[,]?\s?([A-Z-a-z]{1,20}\s[A-Z-a-z]{1,20})?"
                    id="cast" maxlength="300" name="cast" type="text" required><br>
                <p class="input-help-text">Write the first and last name, if more than one cast member separate them by
                    comma. No more than three members allowed.</p>
            </div>
            <div class="col-12"><label for="img_url">Poster URL</label></div>
            <div class="col-12"><input class="input-field" id="img_url" name="img_url" type="url" required><br>
                <p class="input-help-text">Add a url address to a poster image.</p>
            </div>
            <div class="col-12"><input class="add-btn" type="submit" value="Add Movie"></div>
        </form>
    </div>
</div>
{% endblock %}