<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/30b290cadc.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<header>
    <!--Bootstrap navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">Movie R&R <i class="fas fa-film"><span class="sr-only">Film icon</span></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link" href="{{ url_for('find_movies') }}">Find Movies</a>
        {% if session.user %}
        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a> 
        {% if session.admin == True %}
        <a class="nav-link" href="{{ url_for('add_movie') }}">Add Movie</a>
        {% endif %}
        {% else %}
        <button class="nav-link regnav-button">Register</button> 
        <button class="nav-link loginnav-button">Log In</button> 
        {% endif %}
        
        
      </div>
    </div>
  </div>
</nav>
</header>
<body>
<main class="container-fluid">
<div class="row">
<div id="register" class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 base-modal">   <form class="row" method="POST" action="{{ url_for('index', choice='register') }}">
                    <div class="col-12"><h4 class="custom-h4">Register</h4></div>
                    <div class="col-12"><label for="user-reg">Username</label></div>
                    <div class="col-12"><input class="input-field" id="user-reg" name="user-reg" type="text" minlength="5" maxlength="15" pattern="[A-Za-z0-9]{5,15}" title="Your username needs to be between 5-15 characters long. Only letters A-Z and numbers 0-9 allowed" required><br></div>
                    <div class="col-12"><label for="password-reg">Password</label></div>
                    <div class="col-12"><input class="input-field" id="password-reg" name="password-reg" type="password" minlength="8" maxlength="25" pattern="[A-Za-z0-9]{8,25}" title="Your password needs to be between 8-25 characters long. Only letters A-Z and numbers 0-9 allowed" required><br></div>
                    <div class="col-12"><label for="email-reg">Email</label></div>
                    <div class="col-12"><input class="input-field" id="email-reg" name="email-reg" type="email" required><br></div>
                    <div class="col-12"><input class="register-btn"  type="submit" value="Register"></div>
                </form>
                <div class="row">
                <div class="col-12"><span>Already have an account?</span></div>
                <div class="col-12 margin-btm-20"><button id="redirect-login" class="redirect-link">Log in</button></div>
                <div class="col-12 margin-btm-20"><button class="close-btn">Close</button></div>
                </div>
            </div>
<div id="login" class="col-12 col-md-8 offset-md-2 col-lg-6 base-modal offset-lg-3">   <form class="row" method="POST" action="{{ url_for('index', choice='login') }}">
                    <div class="col-12"><h4 class="custom-h4">Log in</h4></div>
                    <div class="col-12"><label for="user-login">Username</label></div>
                    <div class="col-12"><input class="input-field" id="user-login" name="user-login" type="text" required><br></div>
                    <div class="col-12"><label for="password-login">Password</label></div>
                    <div class="col-12"><input class="input-field" id="password-login" name="password-login" type="password" required><br></div>
                    <div class="col-12"><input class="login-btn"  type="submit" value="Log in"></div>
                </form>
                <div class="row">
                <div class="col-12"><span>Don't have an account?</span></div>
                <div class="col-12 margin-btm-20"><button id="redirect-reg" class="redirect-link">Register</button></div>
                <div class="col-12 margin-btm-20"><button class="close-btn">Close</button></div>
                </div>
            </div>
</div>
{% block maincontent %}
{% endblock %}

</main>
 


<footer class="main-footer">
<a href="https://www.facebook.com/" target="_BLANK"><i class="fab fa-facebook-square footer-icon"><span class="sr-only">Facebook icon/link</span></i></a>
<a href="https://twitter.com/" target="_BLANK"><i class="fab fa-twitter-square footer-icon"><span class="sr-only">Twitter icon/link</span></i></a>
<a href="https://www.instagram.com/" target="_BLANK"><i class="fab fa-instagram-square footer-icon"><span class="sr-only">Instagram icon/link</span></i></a>
<a href="https://www.youtube.com/" target="_BLANK"><i class="fab fa-youtube-square footer-icon"><span class="sr-only">YouTube icon/link</span></i></a>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>    
</body>
</html>