{% extends "base.html" %}
{% block maincontent %}
<h3 class="custom-h3">Find Movies</h3>
<form class="row" method="POST" action="">
    <div class="col-12 align-center"><input class="search-field" type="text" name="search" id="search">
    <button class="search-button" type="submit"><i class="fas fa-search"></i></button></div>
</form>
<div class="row">
<div class="col-12">
<img class="thumbnail" src="{{ url_for('static', filename='images/matrix.jpg') }}" alt="">
<span class="description-item">Title: The Matrix</span>
<span class="description-item">Release Year: 1999</span>
<span class="description-item">Directors: Lana Wachowski, Lilly Wachowski</span>
</div>
</div>
{% endblock %}