{% extends "base.html" %}
{% block maincontent %}
<h3 class="custom-h3">Find Movies</h3>
<form class="row" method="POST" action="">
    <div class="col-12 align-center"><input class="search-field" type="text" name="search" id="search">
    <button class="search-button" type="submit"><i class="fas fa-search"></i></button></div>
</form>
<div class="row">




    
    
{% for i in movies %}
{% if loop.index % 2 == 0 %}
<a href="{{ url_for('movie_page', title=i.title) }}" class="col-12 search-result light-blue-bg">
<img class="thumbnail" src="{{ i.img_url }}" alt="">
<span class="description-item">{{ i.title }}</span>
<span class="description-item">Release Year: {{ i.year }}</span>
<span class="description-item">Directors: {{ i.directors }}</span>
</a>
{% else %}
<a href="{{ url_for('movie_page', title=i.title) }}" class="col-12 search-result light-orange-bg">
<img class="thumbnail" src="{{ i.img_url }}" alt="">
<span class="description-item">{{ i.title }}</span>
<span class="description-item">Release Year: {{ i.year }}</span>
<span class="description-item">Directors: {{ i.directors }}</span>
</a>
{% endif %}

{% endfor %}




</div>
{% endblock %}