{% extends "base.html" %}
{% block title %}
Find Movies
{% endblock %}
{% block maincontent %}
<div class="row">
<div class="col-12"><h3 class="custom-h3">Find Movies</h3></div>
</div>
<form class="row" method="POST" action="">
    <div class="col-12 col-md-8 offset-md-2 col-lg-10 offset-lg-1"><input class="search-field" type="text" name="search" id="search">
    <button class="search-button" type="submit"><i class="fas fa-search"></i></button></div>
</form>
<div class="row top-mg-20">
<!--Pagination element from Bootstrap-->
<div class="col-12"><nav aria-label="...">
  <ul class="pagination pagination-lg">
    {% if pages %}
    {% for i in range(pages) %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('find_recent', page=loop.index) }}" tabindex="-1">{{ loop.index }}</a>
   </li>
  {% endfor %}
  {% endif %}
</ul>
</nav></div>
<div class="col-12 align-center">
<!--Bootstrap dropdown-->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('find_recent') }}">Date added</a>
    <a class="dropdown-item" href="{{ url_for('find_rating') }}">Rating</a>
    <a class="dropdown-item" href="{{ url_for('find_recent') }}">Release year</a>
  </div>
</div>
</div>
    
{% if movies %}
{% for i in movies %}
{% if loop.index % 2 == 0 %}
<a href="{{ url_for('movie_page', title=i.title) }}" class="col-12 search-result">
<div class="row">
<div class="col-4"><img class="thumbnail" src="{{ i.img_url }}" alt="Movie Poster"></div>
<div class="col-4 center"><span class="description-item">{{ i.title }} ({{ i.year }})</span></div>
<div id="{{ loop.index }}" class="col-4 center rating-wrap"><i class="fas fa-star star-icon"></i>
{% if ratings %}
{% for rating in ratings %}
{% if i.title == rating.title %}
<span>{{ rating.rating }}</span>
{% endif %}
{% endfor %}
{% endif %}

</div>
</div>
</a>
{% else %}
<a href="{{ url_for('movie_page', title=i.title) }}" class="col-12 search-result">
<div class="row">
<div class="col-4"><img class="thumbnail" src="{{ i.img_url }}" alt="Movie Poster"></div>
<div class="col-4 center"><span class="description-item">{{ i.title }} ({{ i.year }})</span></div>
<div id="{{ loop.index }}" class="col-4 center rating-wrap"><i class="fas fa-star star-icon"></i>
{% if ratings %}
{% for rating in ratings %}
{% if i.title == rating.title %}
<span>{{ rating.rating }}</span>
{% endif %}
{% endfor %}
{% endif %}

</div>
</div>
</a>
{% endif %}
{% endfor %}
{% else %}
<p class="no-result-text">No search results found</p>
{% endif %}





</div>

{% endblock %}