{% extends "base.html" %}

{% block maincontent %}
<div class="row"><div class="col-12 background-img"></div></div>
  <div class="row">
      <div class="col-12">
      {% with flash_messages = get_flashed_messages() %}
       {% if flash_messages %}       
       {% for message in flash_messages %}
           <h4 class="custom-h4">{{ message }}</h4>
       {% endfor %}
       {% endif %}
    {% endwith %}
      </div></div>
<div class="row">
    <div class="col-4">
    
    <div class="logo-wrapper mg-0-auto">
    <div>
    <h2 class="custom-h2">Movie R&R</h2>
    </div>
    <div class="film-icon">
    <i class="fas fa-film"></i>
    </div>
    </div>
    </div>
    
    <div class="card light-blue col-4">
  <div class="card-body">
    Welcome to Movie Ratings And Reviews, search for movies to find reviews and ratings or register and 
    log in to add your own. 
    <div class="row top-mg-20"><div class="col-12"><button class="login-link">Log In</button> <button class="register-link">Register</button></div></div>
  </div>
</div>
</div>

<!--Bootstrap carousel-->
<div class="carousel-wrapper">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
   
   {% for movie in movies %}
   {% if loop.index == 1 %}
    <div class="carousel-item active" data-bs-interval="5000">
        <a href="{{ url_for('movie_page', title=movie.title) }}">
      <img src="{{ movie.img_url }}" class="d-block carousel-img" alt="Movie poster">
      </a>
    </div>
    {% else %}
    <div class="carousel-item" data-bs-interval="5000">
    <a href="{{ url_for('movie_page', title=movie.title) }}">
    <img src="{{ movie.img_url }}" class="d-block carousel-img" alt="Movie poster">
    </a>
    </div>
    {% endif %}
    {% endfor %}
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>

{% endblock %}