{% extends "base.html" %}
{% block maincontent %}
<div class="row top-mg-100">
<div class="col-4"><img class="poster-image" src="{{ get_movie.img_url }}" alt=""></div>
<div class="col-6 description-bg">
<div class="row">
<div class="col-12 top-btm-mg-10"><h5>{{ get_movie.title }} ({{ get_movie.year }})</h5></div>
<div class="col-2 top-btm-mg-10">Directors:</div>
<div class="col-10 top-btm-mg-10">{{ get_movie.directors }}</div>
<div class="col-4 top-btm-mg-10">Main Cast:</div>
<div class="col-8 top-btm-mg-10"></div>
{% if session.user %}
{% if session.admin == True %}
<div class="col-12 top-btm-mg-10"><a class="edit-button" href="">Edit</a> <a class="delete-button" href="">Delete</a></div>
<div class="col-12 top-btm-mg-10"></div>
{% endif %}
<div class="col-12"><div class="card review-card">
  <div class="card-header">
    Add Your Review
  </div>
  <div class="card-body">
    <form method="POST">
    <textarea name="review" id="review" cols="50" rows="6">
    </textarea>
    <div class="align-center"><button class="sub-review-btn" type="submit">Add Review</button></div>
    </form>
  </div>
</div></div>
{% endif %}
</div>
</div>
<div class="col-8 offset-2">
  <h4 class="custom-h4">Reviews</h4>
   {% if get_movie.reviews %}
  <div class="accordion" id="accordionExample">
 {% for review in get_movie.reviews %}
    <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ loop.index }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
        <div class="col-4">By: {{ review.by_user }}</div> 
        {% if review.by_user == session.user or session.admin == True %}
        <div class="col-2"><a class="edit-button" href="">Edit</a> </div>
        <div class="col-2"><a class="delete-button">Delete</a></div>
        {% endif %}
      </button>
    </h2>
    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ review.description }}
      </div>
    </div>
  </div>
{% endfor %}
    </div> 
{% else %}
<p class="no-reviews-text">No reviews yet</p>
{% endif %}


</div>
</div>
{% endblock %}