{% extends "base.html" %}
{% block title %}
Movie
{% endblock %}
{% block maincontent %}
<div class="row top-mg-100 align-center">
<div id="delete-movie-warn" class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 base-modal">
<div class="row">
<div class="col-12"><p>Are you sure you want to delete this movie?</p></div>
<div class="col-12"><form method="POST" action="{{ url_for('movie_page',title = get_movie.title, delete_movie=True) }}">
    <button class="delete-button" type="submit">Delete</button> 
</form></div>
<div class="col-12"><button id="cancel-delete-movie" class="cancel-button">Cancel</button></div>
</div>
</div>


<div id="delete-review-warn" class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 base-modal">
<div class="row">
<div class="col-12"><p>Are you sure you want to delete this review?</p></div>
<div class="col-12"><button id="confirm-delete-review" class="delete-button">Delete</button></div>
<div class="col-12"><button id="cancel-delete-review" class="cancel-button">Cancel</button></div>
</div>
</div>

<div class="col-12 col-lg-4 btm-mg-20"><img class="poster-image" src="{{ get_movie.img_url }}" alt=""></div>
<div class="col-10 offset-1 col-lg-6 offset-lg-0 btm-mg-20 description-bg">
<div class="row">
<div class="col-12 top-btm-mg-10"><h5 class="align-center">{{ get_movie.title }} ({{ get_movie.year }})</h5></div>
<div class="col-12 top-btm-mg-10 align-center"><i class="fas fa-star star-icon"></i>
    {% if get_movie.ratings %}
    {{ count }}
    {% else %}
    No Ratings Yet
    {% endif %}
</div>

<div class="col-12 top-btm-mg-10 top-mg-20">Directors:</div>
<div class="col-12 top-btm-mg-10 top-mg-20">{{ get_movie.directors }}</div>
<div class="col-12 top-btm-mg-10">Main Cast:</div>
<div class="col-12 top-btm-mg-10">
{% for member in get_movie.cast %}
    {{ member }}
    {% if not loop.last %},
    {% endif %}
{% endfor %}
</div>

{% if session.user %}
{% if session.admin == True %}
<div class="col-12 top-btm-mg-10"><a class="edit-button" href="">Edit</a> <button id="delete-movie-btn" class="delete-button">Delete</button></div>

{% endif %}
<div class="col-6 offset-3">
    <form class="row rating-form" method="POST" action="{{ url_for('movie_page', title=get_movie.title, rating=True, rate=True)}}">
        <div class="col-12"><label for="rating">Rate this movie</label></div>
        <div class="col-12"><input type="range" name="rating" id="rating" min="0" max="10" step="0.1" required></div> 
        <div class="col-12"><button class="rate-btn" type="submit">Rate</button></div> 
    </form>
</div>
<div class="col-12"><div class="card review-card">
  <div class="card-header">
    Add Your Review
  </div>
  <div class="card-body align-center">
    <form method="POST">
    <textarea class="review-text-area" name="review" id="review" rows="6">
    </textarea>
    <div class="align-center"><button class="sub-review-btn" type="submit">Add Review</button></div>
    </form>
  </div>
</div></div>
{% endif %}
</div>
</div>
<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
   {% if get_movie.reviews %}
   <h4 class="reviews-h4">Reviews</h4>
  <div class="accordion" id="accordionExample">
 {% for review in get_movie.reviews %}
    <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ loop.index }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
        <div class="col-6 accordion-text">By: {{ review.by_user }}</div> 
      </button>
    </h2>
    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="col-12"><p>{{ review.description }}</p></div>
         {% if review.by_user == session.user or session.admin == True %}
        <div class="col-12"><button id="ensure-delete-review" class="delete-button">Delete</button>
            <form class="d-none" method="POST" action="{{ url_for('delete_review', title=get_movie.title, user=review.by_user) }}">
            <button id="delete-review-button" type="submit"></button>
            </form>
        {% endif %}
      </div>
    </div>
  </div>
  
{% endfor %}
    </div> 
{% else %}
<p class="no-reviews-text">No reviews yet</p>
{% endif %}


</div>
</div>

{% endblock %}